@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/reset";
@import "base/typography";
@import "base/base";
@import "components/filtersTable";

#app {
  font-family: inherit;
}

input#championInput {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  margin-left: 8px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

#filters {
  margin-top: 20px;
}

#filters div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

#filters img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
}

#filters span {
  padding: 4px 8px;
  border-radius: 5px;
  color: white;
  display: inline-block;
}

#score {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

#timer {
  margin-top: 10px;
  font-size: 16px;
}

.green {
  background-color: rgb(2, 146, 2);
}
.orange {
  background-color: rgb(255, 123, 0);
}
.red {
  background-color: rgb(248, 36, 36);
}

.landing-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 260px;
    height: 60%;
    left: 20px;
    color: #fff;
    font-size: 4rem;
    font-weight: 900;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    background: linear-gradient(90deg, #ff0000, #f70c63, white);
    -webkit-background-clip: text;
  }

  .landing-description {
    position: absolute;
    left: 30px;
    bottom: 0px;
    max-width: 1024px;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 2rem;
  }
  button {
    position: absolute;
    width: 215px;
    bottom: 125px;
    right: 56px;
    padding: 12px 24px;
    font-size: 4rem;
    font-weight: 900;
    background-color: transparent;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    background: linear-gradient(90deg, #ff0000, #f70c63, white);
    -webkit-background-clip: text;
    cursor: pointer;
    transition:
      background 0.3s,
      transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }
}
.type-line {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1.6;
  color: white;
  font-size: 2rem;
  min-height: 1.5em;
}

.cursor::after {
  content: "|";
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
