body {
  font-family: $font-base;
  color: $color-text;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-heading;
  font-weight: 700;
  color: $color-primary;
}

p,
span,
input,
button {
  font-family: $font-base;
}
